@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
body {
    font-family: 'Lato';
}

/* Default link color */
a {
  color: #2C7BE5;  /* pick your favorite color for links */
  text-decoration: none;
}

/* Hover state */
a:hover {
  color: #1A5BB8;  /* pick your favorite color for links when mouse hovers */
  text-decoration: underline;
}

.about-text {
  font-size: 18px;
  line-height: 1.6;
}

.fun-animation {
  font-size: 34px;
  margin-top: 15px;
  animation: float 2.5s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-8px);
  }
  100% {
    transform: translateY(0px);
  }
}

.about-page {
  font-size: 18px;
  line-height: 1.6;
}